$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "compass/utilities/sprites";
@import "../images/*.png";
@include all-images-sprites;

.nav > li > a:hover, .nav > li > a:focus, a > img:focus{
  background-color: transparent;
  outline: none;
}

ul{
  display: inline;
}
ul > li {
  list-style: none;
}

/* Space out content a bit */
body {
  background-color: #469ad4;
  overflow: hidden;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mobile-container{
  max-width: 100%;
  max-height: 100%;
}

/* Custom page header */
.header {
  top: 0;
  height: 60px;
  
  width: 100%;
  position: absolute;
  z-index: 100;
  a{
    position: absolute;
    z-index: 50;
    right: 0;
  }
  .closeHeader{
    padding: 0 15px 0 0;

  }
  .a:active, .a:focus, .a:visited, .a:hover{
    background: none;
  }
}

.overlay{
  background-color: #007dc5;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 49;
  bottom: 0px;
}


.overlay-loader{
  background-color: #007dc5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 49;
  bottom: 0px;
  .logo{
    padding-top: 0px;
    margin-top: -19px;
  }
  .preloader{
    margin-left: auto;
    margin-right: auto;
    margin-top: 23%;
    font-size: 20px;
    color: white;
    display: table;
  }
}

.fluid-container{
  .logo-container{
    @include center-block;
    margin-bottom: -1vh;
  }




  .logo{
    /*background-image: url('../images/logo.png');*/
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    min-width: 237px;
    min-height: 220px;
    max-width: 237px;
    max-height: 220px;
    background-repeat: no-repeat;

    /*background-position: center;*/
  }
  .login-text{
      font-size: 3.5vh;
      line-height: 1;
      text-align: center;
      padding: 1% 15%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: -2vh;
      color:white;
    }

}

.content{
  z-index: 15;
  margin-top:-7px;
  width: 100%;


  
  .social-container, .wood-confirm-container, .wood-container{

    li{
     /* margin-bottom: 0.7vh;*/
    }
    .login-text, .social-text{
      color: #fff;
      font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
    }
    .login-text{
      font-size: 4vh;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      padding: 1% 15%;
      @include center-block;
    }
    .answer-text:active, .success-text:active, .error-text:active, .social-text:active{
      color: #fff;
    }
    .social-buttons, .btn-group{
      width: 100%;
    }
    .social-text{
      position: relative;
      margin-top: -12%;
      margin-left: 23%;
      font-size: 2.3vh;
    }
  }
  
  .answer-text:active, .success-text:active, .error-text:active{
    color: #fff;
  }

  .woods-row{
    margin-top: 5vh
  }

  .blur{
    -webkit-filter: blur(6px);
    filter: url('blur.svg#blur');
    background-color: #fff;
    z-index: -8;
    position: absolute;
  }

  .wood-agree,.wood-disagree,.wood-1,.blur{
      min-height   :  77px;
      min-width    : 394px;
      max-height   :  77px;
      max-width    : 394px;
      margin-left  :  auto;
      margin-right :  auto;
  }

  .wood-1{
    zoom:0.7;
    -moz-transform:scale(0.7);
    -moz-transform-origin: 0 0;
  }

  .wood-confirm-container{
      display: block;
      padding: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      .wood-agree-container,.wood-disagree-container{
          overflow: hidden;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          
          .wood-agree,.wood-disagree{
              display:block;

          }
      }

      
      .answer-text{
        position: relative;
        font-weight:bold;
        font-size: 30px;
        padding-top:18px;
        text-align: center;
      }
      .success-text{
        color: #8dc63f;
      }
      .error-text{
        color: #e06e4d;
      }
  }

  .wood-container{
    @include center-block;
    display: block!important;
   
    width: 100%;
    margin-top: 0;
    margin-bottom:0;
    padding: 0;
    .wood-1-container, .wood-2-container{
      @include center-block;
      width: 95%;
      

      .wood-1{

        min-height: 77px;
        max-height: 77px;
        
      }
    }
    .answer-text{
      position: relative;
      padding-top: 18px;
      font-size: 27px;
      text-align: center;
      color: #FCB78B;
    }
  }

  .rope-container-left, .rope-container-right{
    position: absolute;
    height: 91%;
    width: 9px;
    top: 0;
    background-image: url('../images/rope.png');
  }

  .rope-container-left{
    margin-left: 9%;
  }

  .rope-container-right{
    margin-left: 80%; 
  }

}

.rope-left, .rope-right{
  /*background-image: url('../images/rope.png');*/
  margin-top: -1px;
}

.rabbit-container, .hen-container{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.rabbit-container{
  z-index: 51;
  position:absolute;

  .rabbit_big-container{
    width: 100%;
    position:absolute;
    bottom:3%;
    .rabbit_big{
      margin-left: auto;
      margin-right: auto;
      min-width: 171px;
      min-height: 376px;
      max-width: 171px;
      max-height: 376px;
    }
  }

  .rabbit_big-container, .text, .dammit{
    @include center-block;

  }
  .field_login-container{
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: -1;
    .field_login{
      /*background-image: url('../images/field_login.png');*/
      min-width: 454px;
      min-height: 332px;
      width: 100%;
      /*background-size: 100%;*/
      background-repeat: no-repeat;
    }
  }
  .text{
    z-index: 53;
    width: 100%;
    margin-top: 40%;
    .login-text, .dammit{
      color: #fff;
      font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
      font-size: 3.5vh;
      line-height: 1;
      text-align: center;
      margin-bottom: 15px;
    }
  }
  .dammit{
    font-size: 5vh;
    font-weight: bold;
  }
}

.hen-container{
  @include center-block;
  z-index: 52;
  .hen_big,.hands{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

  }
  .hen_big-container, .hands-container{
    position: absolute;
    bottom: 0;
    width: 100%;
 
    .hen_big{

      min-width: 354px;
      min-height: 705px;
      margin-right: auto;
      margin-left : auto;
      width: 10vw;
      -moz-transform:scale(0.7);
      -moz-transform-origin: 0 0;

    }

  }


  .hands-container{

    margin-bottom: 30px;
    min-width: 275px;
      .hands{
        min-width: 383px;
        min-height: 174px;
        max-width: 383px;
        max-height: 174px;
        margin-left: auto;
        margin-right: auto;
        .thanks-for-voting{
          bottom: 0;
          font-size: 33px;
          line-height: 1;
          text-align: center;
          color: #fff;
          z-index: 53;
          margin: 0;
          width: 100%;
          padding: 11% 22% 0 22%;  
        }
    }
    
  } 

}

  .logo-absolute-container {
    width: 100%;
    position: absolute;
   display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -4vh;

  }

.text-container{
  overflow: hidden;
  .board{

    min-width: 440px;
    min-height: 586px;
    max-width: 440px;
    max-height: 586px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }

    .text{
      @include center-block;
      color: #fff;
      font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
      font-size: 30px;
      line-height: 1;
      text-align: center;
      width: 100%;
      position: relative;
      padding: 0 74px;
      margin-top: 326px;
    }
}

.photo-container{
  @include center-block;
  max-width : 453px;
  min-width : 453px;
  width     : 100%;
  
  .frame{
    min-width   : 453px;
    min-height  : 557px;
    max-width   : 453px;
    max-height  : 557px;
    margin-left : auto;
    margin-right: auto;
  }

  .img-frame{
      @include center-block;
      width: 385px;
      height: auto;
      position: relative;
      margin-top: -351px;
      z-index: -1;
      -webkit-transform: rotate(3.5deg);
      transform: rotate(3.5deg);
  }
}
.footer {
  background-position-x: -430px;
  height: 167px;
  
  .barn,.cow,.cow_big,.sheep,.sheep_big,.rabbit,.hen,.ostrich{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /*background-position: center;*/
  }
  .rabbit{
    zoom:0.5;
  }

  .field,.field_big,.field_login{
    width: 100%;
    height: 100%;
    /*background-size: 100%;*/
    background-repeat: no-repeat;
  }

  .field-container, .field_big-container, .field_login-container{
    width: 100%;
    bottom:0; 
    left:0;
    position: absolute;
    z-index: -3;
    .field{
      /*background-image: url('../images/field.png');*/
      min-width: 311px;
      min-height: 167px;
    }
    .field_big{
      /*background-image: url('../images/field_big.png');*/
      min-width: 986px;
      min-height: 167px;
    }
    .field_login{
      /*background-image: url('../images/field_login.png');*/
      min-width: 454px;
      min-height: 332px;
    }
  }

  .barn-container{
    overflow: hidden;
    width: 150px;
    margin-right: 0;
    right:0;
    z-index: -2;
    bottom:0; 
    position: absolute;
    .barn{
      /*background-image: url('../images/barn.png');*/
      min-width: 226px;
      min-height: 184px;
    }
  }
  
  .cow-container{
    padding: 0 0 15px 15px;
    bottom:0; 
    position: absolute;
    left: 0;
    z-index: -1;
    .cow{
      /*background-image: url('../images/cow.png');*/
      min-width: 70px;
      min-height: 92px;
    }
  }

  .sheep-container, .rabbit-container{
    right: 0;
    margin-right: 16px;
    bottom:0; 
    position: absolute;
    z-index: -1;
    .sheep{
      /*background-image: url('../images/sheep.png');*/
      min-width: 96px;
      min-height: 96px;
      max-width: 96px;
      max-height: 96px;
    }
    .rabbit{
      /*background-image: url('../images/rabbit.png');*/
      min-width: 102px;
      min-height: 148px;
    }
  }

  .cow_big-container{
    right: 0;
    z-index: -1;
    bottom:0; 
    position: absolute;
    .cow_big{
      /*background-image: url('../images/cow_big.png');*/
      min-width: 181px;
      min-height: 241px;
    }
  }

  .sheep_big-container, .hen-container{
    left:0;
    z-index: -1;
    bottom:0; 
    position: absolute;
    .sheep_big{
      /*background-image: url('../images/sheep_big.png');*/
      min-width: 235px;
      min-height: 207px;
    }
    .hen{
      /*background-image: url('../images/hen.png');*/
      min-width: 102px;
      min-height: 167px;
    }
  }

  .ostrich-container{
    right: 0;
    margin: 0 120px 20px;
    z-index: -1;
    bottom:0; 
    position: absolute;
    .ostrich{
      /*background-image: url('../images/ostrich.png');*/
      min-width: 37px;
      min-height: 94px;
    }
  }
}






// very small
@media screen and (min-width : 200px) and (max-width : 319px) and (-webkit-min-device-pixel-ratio: 1) {
    //rojo
    div{background-color:rgba(254, 1, 0, 0.16);}


  .field_big, .cow_big, .sheep_big {
        display: none;
  }
}


//small
@media screen and (min-width : 320px) and  (max-width : 500px ) and (-webkit-min-device-pixel-ratio: 1) {
    //verde
    div{background-color:rgba(0, 128, 0, 0.16);}

}


// smart phones 1
@media screen and ( min-width : 300px )  and  (-webkit-min-device-pixel-ratio: 1.1)
                 
{
  //celeste
   // div{background-color:rgba(128, 243, 238, 0.15);}
      .field_big, .cow_big, .sheep_big{
    display: none;
  }
}

// smart phones 2 
@media screen and ( min-width : 540px ) and ( max-width : 719px )  and  (-webkit-device-pixel-ratio: 1),
              (min-width : 340px) and (min-webkit-device-pixel-ratio: 1.1)
{
  //purpura
  //  div{background-color:rgba(128, 0, 128, 0.15);}

  .field_big, .cow_big, .sheep_big{
    display: none;
  }
}


// high resolution
 @media screen and ( min-width : 400px ) and (-webkit-min-device-pixel-ratio: 1.4),
                   ( min-width : 720px ) and (-webkit-min-device-pixel-ratio: 1)
 {
  //amarillo
   //  div{background-color:rgba(255, 255, 0, 0.18)}
       .field_big, .cow_big, .sheep_big{
          display: none;
        }
 
 }

// ultra resolution
 @media screen and ( min-width : 1024px ) and (-webkit-min-device-pixel-ratio: 2),
                   ( min-width : 768px ) and (-webkit-min-device-pixel-ratio: 1)
 {
  //white
  //   div{background-color:rgba(255, 255, 255, 0.18)}
 }


@media screen and ( min-width : 1024px ) and (orientation:landscape)
 {
   // div{background-color:rgba(0, 0, 0, 0.18)}
 }

@mixin center-block {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}



/*Animations*/


.wood-1 {
  -webkit-transition: color 0.6s, background-color 0.3s;
  -moz-transition: color 0.6s, background-color 0.3s;
  -ms-transition: color 0.6s, background-color 0.3s;
  transition: color 0.6s, background-color 0.3s;
  
  label {
    display: block;
  }
  
  &.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -ms-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
  }
  
  &.ng-leave {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
  }
}

.obj.ng-enter, .obj.ng-leave {
  -webkit-transition: 1.5s ease all;
  transition: 1.5s ease all;
}
// the "show" transition starting point
.obj.ng-enter {
  /*left: -300px;*/
  opacity: 0;
}
// the "show" transition ending point
.obj.ng-enter.ng-enter-active {
  /*left: 0px;*/
  opacity:1;
}
// the "hide" transition start point
.obj.ng-leave {
  /*left: 0px;*/
  opacity: 1;
}
// the "hide" transition end point
.obj.ng-leave-active {
  /*left: 600px;*/
  opacity: 1;
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}