$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.nav > li > a:hover, .nav > li > a:focus, a > img:focus{
  background-color: #384ca5;
  outline: none;
}

/* Space out content a bit */
body {
  background-color: #469ad4;
  overflow: hidden;
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
}

.mobile-container{
  max-width: 100%;
  max-height: 100%;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  height: 75px;
  background-color: #384ca5;
  width: 100%;
  a{
    position: absolute;
    z-index: 99;
    right: 0;
  }
  .closeHeader{
    padding: 19px 25px 0 0;
  }
  .a:active, .a:focus, .a:visited, .a:hover{
    background: none;
  }
  .logo{
    @include center-block;
    padding-top: 75px;
    padding-left: 60px;
    z-index: 5
  }
}

.overlay{
  background-color: #007dc5;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  bottom: 0px;
}

.content{
  @include center-block;
  .wood-container, .wood-confirm-container, .social-container{
    z-index: 50;
    left: 0;
    position: absolute;
    margin-left: -20px;
    z-index: 7;
    margin-top: 57%;
    li {
      list-style: none;
    }
    .wood-1, .wood-2, .wood-agree, .wood-disagree{
      width: 335px;
      height: 78px;
      background-size: 100%;
      background-repeat: no-repeat;
      text-align: center;
    }
    .wood-agree, .wood-disagree{
      height: 100px;
    }
    .wood-1{
      background-image: url('../images/wood-1.png');
    }
    .wood-2{
      background-image: url('../images/wood-2.png'); 
    }
    .wood-agree{
      background-image: url('../images/wood-agree.png');
    }
    .wood-disagree{
      background-image: url('../images/wood-disagree.png'); 
    }
    .social-buttons{
      @include center-block;
      width: 80%;
      margin-bottom: 10px;
    }
    .tos-link{
      margin: 0 auto ; 
      color:white;
    }
    .answer-text{
      color: #eb965f;
      font-family: sans-serif;
      font-size: 26px;
      padding-top: 20px;
    }
    .answer-text:active, .success-text:active, .error-text:active{
      color: #fff;
    }
    .success-text{
      color: #8dc63f;
    }
    .error-text{
      color: #e06e4d;
    }
    .btn-group{
      margin-bottom: 10px;
    }
    .social-text{
      position: relative;
      margin-top: -42px;
      margin-left: 90px;
      color: #fff;
      font-family: sans-serif;
      font-size: 16px;
    }
  }

  .hen-container{
    .hen_big, .hands, .thanks-for-voting{
      position: absolute;
      z-index: 12;
      bottom: 0;
    }

    .hen_big{
      left: 35%;
      height: 89%;
    }

    .hands{
      left: 32%;
      margin-bottom: 30px;
      min-width: 275px;
    }

    .thanks-for-voting{
      z-index: 13;
      left: 41%;
      margin-bottom: 95px;
      width: 200px;
    }
  }

  .rabbit-container{
    .rabbit_big, .field_login, .error-message{
      position: absolute;
      z-index: 10;
    }
    .rabbit_big{
      left: 38%;
      height: 57%;
      bottom: 0;
      margin-bottom: 4%;
    }
    .field_login{
      width: 100%;
      bottom: 0;
      z-index: 6;
    }
    .text{
      position: absolute;
      z-index: 11;
      top: 0;
      margin-top: 9%;
      position: absolute;
      margin-left: 36%;
    }
    .error-message{
      
    }
    .dammit{
      font-size: 40px;
      font-weight: bold;
    }
  }

  .photo-container{
    .frame{
      position: absolute;
      left: 28%;
      top: 75px;
      z-index: 7;
      height: 80%;
      max-width: 100%;
    }
    .img-frame{
      position: absolute;
      width: 383px;
      height: 307px;
      top: 311px;
      left: 28%;
      margin-left: 25px;
      margin-top: -10px;
      z-index: 6;
    }
    .board-text{
      position: absolute;
      left: 33%;
      top: 395px;
      z-index: 7;
      width: 335px;
      height: 80%;
      line-height: normal;
    }
  }

  .rope-container-left, .rope-container-right{
    position: absolute;
    z-index: 6;
    overflow: hidden;
    /*height: 430px;*/
    height: 100%;
  }

  .rope-container-left{
    margin-left: 12%;
  }

  .rope-container-right{
    right:0;
    margin-right: 12%;
  }

  .rope{
    width: 9px;
    height: 100%;
    background-image: url('../images/rope.png');
  }

  .login-text{
    color: #fff;
    font-family: sans-serif;
    font-size: 26px;
    width: 270px;
    text-align: center;
    line-height: 31px;
    margin-bottom: 15px;
    @include center-block;
  }
}


/* Custom page footer */
.footer {
  background-position-x: -430px;
  height: 167px;
  
  .field, .field_big, .field_login{
    width: 100%;
    bottom:0; 
    position: absolute;
    z-index: -1;
  }

  .barn-container{
    overflow: hidden;
    width: 150px;
    margin-right: 0;
    right:0;
    z-index: 1;
    bottom:0; 
    position: absolute;
  }
  
  .cow{
    padding: 0 0 15px 15px;
    bottom:0; 
    position: absolute;
    z-index: 5;
  }

  .sheep, .rabbit{
    right: 0;
    margin-right: 16px;
    bottom:0; 
    position: absolute;
    z-index: 5;
  }

  .cow_big{
    right: 0;
    z-index: 5;
    bottom:0; 
    position: absolute;
  }

  .sheep_big, .hen{
    left:0;
    z-index: 5;
    bottom:0; 
    position: absolute;
  }

  .ostrich{
    right: 0;
    margin: 0 120px 20px;
    z-index: 5;
    bottom:0; 
    position: absolute;
  }
}

/* Responsive: Portrait tablets and up */


@media screen and (min-width: 750px) {
  .header{
    .logo{
      width: 30%;
      padding-left: 10%;
    }
  }
  .content{
    .wood-container, .wood-confirm-container, .social-container{
      z-index: 7;
      margin: 20% 0 0 25%;
      .wood-1, .wood-2, .wood-agree, .wood-disagree{
        width: 435px;
        margin-bottom: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .wood-1, .wood-2, .btn-group{
        width: 325px;
        height: 60px;
        margin-left: 30px;
        .answer-text{
          font-size: 21px;
          padding-top: 12px;
        }
      }
      .btn-group{
        margin-left: 0px;
        height: 60px;
        width: 345px;
        .social-text {
          margin-top: -43px;
          margin-left: 95px;
          font-size: 15px;
        }
      }
    }
    .wood-container{
      margin: 20% 0 0 23%;
      .login-text{
        font-size: 21px;
        line-height: 19px;
      }
    }
    .social-container{
      margin: 20% 0 0 28%;
    }
    .rope-container-left, .rope-container-right{
      height: 450px;
    }
    .rope-container-left{
      left: 23%;
    }
    .rope-container-right{
      right: 25%;
    }
  }

  .footer {
    background-position-x: 0px;
  }

  .barn-container{
    width: 200px!important;
    margin-right: 108px!important;
  }

  .ostrich{
    margin: 0 210px 20px!important;
  }

  .field, .cow, .sheep{
    display: none;
  }

}

//Google Nexus 7 / 7.2
@media screen and (min-width: 900px) {

  .content{
    .wood-container, .wood-confirm-container, .social-container{
      margin: 20% 0 0 28%;
      .wood-agree, .wood-disagree{
        width: 100%;
        height: 55px;
        .answer-text{
          font-size: 21px;
          padding-top: 12px;
        }
      }
    }
      .hen-container{
        z-index: 12;
        .hen_big{
          left: 35%
        }
        .hands{
          width: 290px;
          margin-bottom: 3%;
          left: 32%
        }
        .login-text{
          left: 39%;
          margin-bottom: 8%;
          font-size: 29px;
          line-height: 29px;
          width: 150px;
        }
      }
    .wood-container{
      margin: 17% 0 0 24%;
      .login-text{
        font-size: 21px;
        line-height: 19px;
        width: 100%;
      }
    }
    .wood-confirm-container{
      margin: 20% 0 0 31%;
    }
    .photo-container{
      .frame{
        left: 30%;
        width: 360px;
        height: 465px;
      }
      .board-text{
        left: 36%;
        top: 330px;
        width: 26%;
        font-size: 20px;
      }
      .img-frame{
        width: 315px;
        height: 255px;
        left: 30%;
        top: 275px;
      }
    }

  }
}

//Amazon Kindle Fire (First Gen)
//Apple iPad 1 / 2 / iPad Mini / 3 / 4
//BlackBerry PlayBook
//Samsung Galaxy Tab
@media screen and (min-width: 1023px) { 

  .header{
    .logo{
      width: 30%;
    }
  }

  .content{
    .wood-container, .wood-confirm-container, .social-container{
      margin: 18% 0 0 29%;
      .wood-1, .wood-2, .wood-agree, .wood-disagree{
        width: 340px;
        margin-bottom: 0;
      }
      .wood-1, .wood-2, .btn-group{
        width: 325px;
        height: 70px;
        margin-left: 30px;
        .answer-text{
          font-size: 21px;
          padding-top: 12px;
        }
      }
      .wood-agree, .wood-disagree{
        width: 100%;
        height: 55px;
        .answer-text{
          font-size: 21px;
          padding-top: 12px;
        }
      }
      .btn-group{
        margin-left: 0px;
        height: 45px;
        width: 350px;
        .social-text {
          margin-top: -44px;
          margin-left: 95px;
          font-size: 16px;
        }
      }
    }
    .wood-confirm-container{
      margin: 20% 0 0 33%;
    }
    .wood-container{
      margin: 18% 0 0 26%;
      .login-text{
        font-size: 20px;
        line-height: 20px;
        width: 100%;
      }
    }
    .hen-container{
      .hands{
        width: 30%;
      }
      .login-text{
        left: 39%;
        margin-bottom: 8%;
      }
    }
    .photo-container{
      .frame{
        left: 32%;
        width: 360px;
        height: 490px;
      }
      .board-text{
        left: 36%;
        top: 335px;
        width: 27%;
        font-size: 22px;
      }
      .img-frame{
        width: 315px;
        height: 270px;
        left: 32%;
        top: 285px;
      }
    }
    .rope-container-left, .rope-container-right{
      height: 450px;
    }
    .rope-container-left{
      left: 30%;
    }
    .rope-container-right{
      right: 30%;
    }
  }
}

//Google Nexus 10
//Motorola Xoom, Xyboard
//Samsung Galaxy Tab 7.7 / 8.9 / 10.1
//Generic netbook
//Notebook with touch
@media screen and (min-width: 1223px) {

  .content{
    .wood-container, .wood-confirm-container, .social-container{
      margin: 20% 0 0 33%;
      .wood-1, .wood-2, .wood-agree, .wood-disagree{
        width: 435px;
        margin-bottom: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .wood-agree, .wood-disagree{
        width: 435px;
        height: 100px;
        .answer-text{
          font-size: 30px;
          padding-top: 24px;
        }
      }
    }
    .wood-container, .wood-confirm-container{
      margin: 20% 0 0 30%;
    }
    .hen-container{
      .hen_big{
        /* left: 13% */
      }
      .hands{
        /* width: 300px;
        margin-bottom: 6%;
        left: 11% */
      }
      .login-text{
        left: 41%;
        /* margin-bottom: 18%;
        font-size: 29px;
        line-height: 29px;
        width: 172px; */
      }
    }
    .photo-container{
      .frame{
        left: 33%;
        width: 460px;
        height: 600px;
      }
      .board-text{
        left: 38%;
        top: 405px;
        width: 25%;
        font-size: 24px;
      }
      .img-frame{
        width: 400px;
        height: 325px;
        left: 33%;
        top: 325px;
      }
    }
    .rope-container-left, .rope-container-right{
      height: 550px;
    }
    .rope-container-left{
      left: 9%;
    }
    .rope-container-right{
      right: 4%;
    }
  }
}

//Notebook with HiDPI screen
@media screen and (min-width: 1440px) {

  .content{
    .wood-container, .wood-confirm-container, .social-container{
      margin: 20% 0 0 36%;
    }
    .wood-container, .wood-confirm-container{
      margin: 20% 0 0 33%;
    }
  }

}

//Amazon Kindle Fire HDX 7"
//Amazon Kindle Fire HDX 8.9"
@media screen and (min-width: 1500px) {

  .header{
    .logo{
      width: 30%;
    }
  }
  .content{
    .wood-container, .wood-confirm-container, .social-container{
      width: 35%;
      margin: 20% 0 0 33%;
      .wood-1, .wood-2, .wood-agree, .wood-disagree{
        width: 435px;
        margin-bottom: 10px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .wood-1, .wood-2, .btn-group{
        width: 100%;
        height: 130px;
        margin-left: 20%;
        .answer-text{
          font-size: 40px;
          padding-top: 33px;
        }
      }
      .wood-agree, .wood-disagree{
        width: 100%;
        height: 140px;
        .answer-text{
          font-size: 40px;
          padding-top: 33px;
        }
      }
      .btn-group{
        margin-left: 0px;
        height: 95px;
        width: 650px;
        .social-text {
          margin-top: -70px;
          margin-left: 180px;
          font-size: 29px;
        }
      }
    }
    .login-text{
      font-size: 40px;
      line-height: 38px;
      width: 470px;
    }
    .wood-container{
      margin: 18% 0 0 27%;
      .login-text{
        font-size: 36px;
        line-height: 35px;
        width: 100%;
        margin-bottom: 30px;
        margin-left: 20%;
      }
    }
    .hen-container{
      .hands{
        width: 30%;
      }
      .login-text{
        left: 39%;
        margin-bottom: 6%;
        font-size: 55px;
        line-height: 55px;
        width: 300px;
      }
    }
    .photo-container{
      .frame{
        left: 32%;
        height: 1000px;
        width: 760px;
      }
      .board-text{
        left: 38%;
        top: 625px;
        width: 27%;
        font-size: 41px;
      }
      .img-frame{
        width: 675px;
        height: 555px;
        left: 33%;
        top: 490px;
      }
    }
    .rope-container-left, .rope-container-right{
      height: 950px;
    }
    .rope-container-left{
      left: 9%;
    }
    .rope-container-right{
      right: 4%;
    }
  }

}

@media screen and (min-width: 2000px){
  .content{
    .photo-container{
      .frame{
        left: 34%;
        width: 960px;
        height: 1200px;
      }
      .board-text{
        left: 39%;
        top: 746px;
        width: 28%;
        font-size: 53px;
      }
      .img-frame{
        width: 810px;
        height: 640px;
        left: 36%;
        top: 570px;
      }
    }
    .rope-container-left, .rope-container-right{
      height: 1050px;
    }
    .rope-container-left{
      left: 9%;
    }
    .rope-container-right{
      right: 4%;
    }
  }
}

@media screen and (max-width: 750px) {

  .header{
    .logo {
      width: 75%;
    }
  }

  .footer {
    background-position-x: 0px;
  }

  .field_big, .cow_big, .sheep_big{
    display: none;
  }

  .content{
    .wood-container, .wood-confirm-container, .social-container{
      margin-top: 60%;
      width: 100%;
      .wood-1, .wood-2, .wood-agree, .wood-disagree{
        width: 375px;
        margin-bottom: 0px;
      }
    }
    .login-text{
      font-size: 45px;
      line-height: 45px;
      width: 450px;
    }
  }

}

//Motorola Droid Rarz HD
@media screen and (max-width: 720px) {
  .header{
    .logo {
      width: 63%;
      margin-left: 17%;
    }
  }

  .footer {
    background-position-x: 0px;
  }

  .field_big, .cow_big, .sheep_big{
    display: none;
  }

  .content{
    .wood-container, .wood-confirm-container, .social-container{
      margin-top: 50%;
      width: 100%;
      .wood-1, .wood-2, .wood-agree, .wood-disagree{
        width: 375px;
        margin-bottom: 0px;
      }
      .wood-1, .wood-2, .btn-group{
        width: 100%;
        height: 145px;
        .answer-text{
          font-size: 36px;
          padding-top: 30px;
        }
      }
      .wood-agree, .wood-disagree{
        width: 85%;
        height: 130px;
        margin-left: 8%;
        .answer-text{
          font-size: 35px;
          padding-top: 30px;
        }
      }
      .btn-group{
        margin-left: 0px;
        height: 100px;
        width: 680px;
        .social-text {
          margin-top: -77px;
          margin-left: 190px;
          font-size: 29px;
        }
      }
    }
    .login-text{
      font-size: 45px;
      line-height: 45px;
      width: 450px;
    }
    .wood-container{
      .login-text{
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 38px;
      }
    }
    .hen-container{
      .hen_big{
        left: 13%
      }
      .hands{
        width: 70%;
        margin-bottom: 6%;
        left: 11%
      }
      .login-text{
        left: 28%;
        margin-bottom: 18%;
        font-size: 46px;
        line-height: 46px;
        width: 270px;
      }
    }
    .rabbit-container{
      .rabbit_big{
        left: 29%;
        height: 57%;
        bottom: 0;
        margin-bottom: 4%;
      }
      .text{
        position: absolute;
        z-index: 11;
        top: 0;
        margin-top: 26%;
        position: absolute;
        margin-left: 22%;
        .dammit{
          font-size: 70px;
        }
      }
    }
    .photo-container{
      .frame{
        left: 6%;
        width: 650px;
        height: 850px;
      }
      .board-text{
        left: 20%;
        top: 535px;
        width: 62%;
        font-size: 34px;
      }
      .img-frame{
        width: 555px;
        height: 470px;
        left: 10%;
        top: 425px;
      }
    }
  }
}

//Motorola Droid 3 / 4 / Rarz / Atrix 4G / Atrix 2
//Samsung Galaxy Note 3
//Sony Xperia Sola / U
@media screen and (max-width: 550px) {

  .header{
    .logo {
      width: 63%;
      margin-left: 17%;
    }
    .closeHeader{
      padding: 7px 15px 0 0;
    }
  }

  .footer {
    background-position-x: 0px;
  }

  .field_big, .cow_big, .sheep_big{
    display: none;
  }

  .content{
    .wood-container, .wood-confirm-container, .social-container{
      margin-top: 60%;
      width: 100%;
      .wood-1, .wood-2, .wood-agree, .wood-disagree{
        width: 400px;
        margin-bottom: -5px;
      }
      .wood-1, .wood-2, .btn-group{
        width: 100%;
        margin-bottom: -5px;
        height: 110px;
        .answer-text{
          font-size: 26px;
          padding-top: 24px;
        }
      }
      .wood-agree, .wood-disagree{
        width: 100%;
        margin-left: 0;
        height: 120px;
        .answer-text{
          font-size: 30px;
          padding-top: 26px;
        }
      }
      .btn-group{
        margin-left: 0px;
        height: 85px;
        width: 500px;
        .social-text {
          margin-top: -59px;
          margin-left: 140px;
          font-size: 22px;
        }
      }
    }
    .login-text{
      font-size: 34px;
      line-height: 34px;
      width: 370px;
    }
    .wood-container{
      margin-top: 47%;
      .login-text{
        font-size: 30px;
        line-height: 30px;
      }
    }
    .hen-container{
      .hen_big{
        left: 13%
      }
      .hands{
        width: 400px;
        margin-bottom: 6%;
        left: 11%
      }
      .login-text{
        left: 29%;
        margin-bottom: 18%;
        font-size: 38px;
        line-height: 38px;
        width: 200px;
      }
    }
    .rabbit-container{
      .rabbit_big{
        left: 29%;
        height: 57%;
        bottom: 0;
        margin-bottom: 4%;
      }
      .text{
        position: absolute;
        z-index: 11;
        top: 0;
        margin-top: 29%;
        position: absolute;
        margin-left: 17%;
      }
    }
    .photo-container{
      .frame{
        left: 9%;
        width: 460px;
        height: 660px;
      }
      .board-text{
        left: 21%;
        top: 435px;
        width: 62%;
        font-size: 25px;
      }
      .img-frame{
        width: 400px;
        height: 365px;
        left: 11%;
        top: 354px;
      }
    }
    .rope-container-left, .rope-container-right{
      height: 750px;
    }
  }

}

//BlackBerry Z10
//Google Nexus 4
//LG Optimus G / LTE / 4X HD
//Samsung Galaxy Note
@media screen and (max-width: 424px) {

  .header{
    .logo {
      width: 65%;
      margin-left: 10%;
    }
    .closeHeader{
      padding: 7px 15px 0 0;
    }
  }

  .footer {
    background-position-x: 0px;
  }

  .field_big, .cow_big, .sheep_big{
    display: none;
  }

  .content{
    .wood-container, .wood-confirm-container, .social-container{
      margin-top: 50%;
      .wood-1, .wood-2, .wood-agree, .wood-disagree{
        width: 340px;
        margin-bottom: -5px;
      }
      .wood-1, .wood-2, .btn-group{
        width: 100%;
        height: 83px;
        .answer-text{
          font-size: 20px;
          padding-top: 20px;
        }
      }
      .wood-agree, .wood-disagree{
        width: 100%;
        margin-left: 0;
        height: 85px;
        .answer-text{
          font-size: 24px;
          padding-top: 17px;
        }
      }
      .btn-group{
        margin-left: 0px;
        height: 60px;
        width: 345px;
        .social-text {
          margin-top: -43px;
          margin-left: 95px;
          font-size: 15px;
        }
      }
    }
    .login-text{
      font-size: 26px;
      line-height: 31px;
      width: 270px;
    }
    .wood-container{
      margin-top: 42%;
      .login-text{
        font-size: 19px;
        line-height: 19px;
        margin-bottom: 15px;
      }
    }

    .hen-container{
      .hen_big{
        left: 13%
      }
      .hands{
        width: 300px;
        margin-bottom: 6%;
        left: 11%
      }
      .login-text{
        left: 28%;
        margin-bottom: 18%;
        font-size: 29px;
        line-height: 29px;
        width: 172px;
      }
    }
    .rabbit-container{
      .rabbit_big{
        left: 28%;
        height: 57%;
        bottom: 0;
        margin-bottom: 4%;
      }
      .text{
        position: absolute;
        z-index: 11;
        top: 0;
        margin-top: 26%;
        position: absolute;
        margin-left: 18%;
        .dammit{
          font-size: 50px;
        }
      }
    }
    .photo-container{
      .frame{
        left: 3%;
        width: 360px;
        height: 490px;
      }
      .board-text{
        left: 17%;
        top: 342px;
        width: 66%;
        font-size: 20px;
      }
      .img-frame{
        width: 315px;
        height: 265px;
        left: 3%;
        top: 285px;
      }
    }
    .rope-container-left, .rope-container-right{
      height: 470px;
    }
    .rope-container-left{
      left: 9%;
    }
    .rope-container-right{
      right: 4%;
    }
  }

}

//BlackBerry Z30
//Google Nexus 5
//HTC One X / EVO LTE / Sensation / EVO 3D
//Nokia C5 / C6 / C7 / N97 / N8 / X7
//Samsung Galaxy Note 2 / S2 / Nexus / S4
//Sony Xperia S / Ion / Z / Z1
@media screen and (max-width: 380px) {
  .header{
    height: 60px;
    .logo {
      width: 65%;
      margin-left: 10%;
      padding-top: 60px;
    }
    .closeHeader{
      padding: 5px 0px 0 0;
      width: 30px;
    }
  }

  .content{
    .wood-container, .wood-confirm-container, .social-container{
      margin-top: 50%;
      .wood-1, .wood-2, .wood-agree, .wood-disagree{
        width: 315px;
        margin-bottom: -10px;
      }
      .wood-1, .wood-2, .btn-group{
        .answer-text{
          padding-top: 16px;
        }
      }
    }
    .login-text{
      font-size: 26px;
      line-height: 31px;
      width: 270px;
    }
    .wood-container{
      margin-top: 47%;
      .login-text{
        line-height: 19px;
        margin-bottom: 20px;
      }
    }
    .photo-container{
      .frame{
        left: 1%;
        width: 360px;
        height: 490px;
        top: 59px;
      }
      .board-text{
        left: 17%;
        top: 324px;
        width: 68%;
        font-size: 20px;
      }
      .img-frame{
        width: 310px;
        height: 265px;
        left: 3%;
        top: 270px;
      }
    }
  }

}

//Apple iPhone 3GS / 4 / 5
//Google Nexus S
//HTC Evo / Touch / Desire
//LG Optimus 2X / 3D / Black / One
//Motorola Defy / Droid / Droid X / Milestone
//Nokia Lumia 7X0 / Lumia 8XX / Lumia 900 / N800 / N900
//Samsung Galaxy S / S2 / W
@media screen and (max-width: 325px) {

  .header{
    height: 60px;
    .logo {
      width: 65%;
      margin-left: 10%;
      padding-top: 60px;
    }
    .closeHeader{
      padding: 5px 0px 0 0;
      width: 30px;
    }
  }

  .content{
    .wood-container, .wood-confirm-container, .social-container{
      margin-top: 43%;
      .wood-1, .wood-2, .wood-agree, .wood-disagree{
        width: 280px;
        margin-bottom: -20px;
      }
      .wood-1, .wood-2, .btn-group{
        height: 77px;
        .answer-text{
          font-size: 18px;
          padding-top: 17px;
        }
      }
      .wood-agree, .wood-disagree{
        width: 100%;
        margin-left: 0;
        height: 85px;
        .answer-text{
          font-size: 18px;
          padding-top: 17px;
        }
      }
      .btn-group{
        margin-left: 0px;
        height: 50px;
        width: 280px;
        .social-text {
          margin-top: -35px;
          margin-left: 80px;
          font-size: 12px;
        }
      }
      .social-text{
        margin-top: -36px;
        margin-left: 85px;
        font-size: 11px;
      }
      .login-text {
        font-size: 18px;
        width: 270px;
        line-height: 21px;
      }
      .answer-text{
        font-size: 18px;
      }
    }
    .wood-container{
      margin-top: 37%;
      .login-text {
        line-height: 18px;
        margin-bottom: 12px;
      }
    }
    .hen-container{
      .hen_big{
        left: 19%;
      }
      .hands{
        width: 30%;
        left: 7%;
        margin-bottom: 3%;
      }
      .login-text{
        left: 27%;
        margin-bottom: 16%;
        font-size: 29px;
        line-height: 28px;
        width: 150px;
      }
    }
    .rabbit-container{
      .rabbit_big{
        left: 29%;
        height: 57%;
        bottom: 0;
        margin-bottom: 4%;
      }
      .text{
        position: absolute;
        z-index: 11;
        top: 0;
        margin-top: 23%;
        position: absolute;
        margin-left: 8%;
        .dammit{
          font-size: 50px;
        }
      }
    }
    .photo-container{
      .frame{
        left: 4%;
        top: 60px;
        width: 300px;
        height: 385px;
      }
      .board-text{
        left: 19%;
        top: 275px;
        width: 66%;
        font-size: 16px;
      }
      .img-frame{
        width: 263px;
        height: 210px;
        left: 3%;
        top: 227px;
      }
    }
    .rope-container-left, .rope-container-right{
      height: 380px;
    }
    .rope-container-left{
      left: 9%;
    }
    .rope-container-right{
      right: 4%;
    }
  }
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}




/*Animations*/


.wood-1 {
  -webkit-transition: color 0.6s, background-color 0.3s;
  -moz-transition: color 0.6s, background-color 0.3s;
  -ms-transition: color 0.6s, background-color 0.3s;
  transition: color 0.6s, background-color 0.3s;
  
  label {
    display: block;
  }
  
  &.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -ms-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
  }
  
  &.ng-leave {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
  }
}

