$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "compass/utilities/sprites";
@import "../images/*.png";
@include all-images-sprites;

.nav > li > a:hover, .nav > li > a:focus, a > img:focus{
  background-color: transparent;
  outline: none;
}

ul{
  display: inline;
}
ul > li {
  list-style: none;
}

/* Space out content a bit */
body {
  background-color: #469ad4;
  overflow: hidden;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.mobile-container{
  max-width: 100%;
  max-height: 100%;
}

/* Custom page header */
.header {
  top: 0;
  height: 60px;
  
  width: 100%;
  position: absolute;
  z-index: 100;
  a{
    position: absolute;
    z-index: 50;
    right: 0;
  }
  .closeHeader{
    padding: 0 15px 0 0;

  }
  .a:active, .a:focus, .a:visited, .a:hover{
    background: none;
  }
}

.overlay{
  background-color: #007dc5;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 49;
  bottom: 0px;
}


.overlay-loader{
  background-color: #007dc5;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 49;
  bottom: 0px;
  .logo{
    padding-top: 0px;
    margin-top: -19px;
  }
  .preloader{
    margin-left: auto;
    margin-right: auto;
    margin-top: 23%;
    font-size: 20px;
    color: white;
    display: table;
  }
}

.fluid-container{
  .logo-container{
    @include center-block;
   
    margin-bottom: -4vh;
  }
  .logo-absolute-container {
    position: absolute;
    margin-top: 3%;
    width: 90%;
  }
  .logo{
    /*background-image: url('../images/logo.png');*/
    width: 68%;
    height: 74%;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    min-width: 237px;
    min-height: 220px;
    background-repeat: no-repeat;

    /*background-position: center;*/
  }
  .login-text{
      font-size: 4vh;
      line-height: 1;
      text-align: center;
      padding: 1% 15%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: -4vh;
      color:white;
    }

}

.content{
  z-index: 15;
  margin-top:-7px;
  .social-container, .wood-confirm-container, .wood-container{
    li{
     /* margin-bottom: 0.7vh;*/
    }
    .login-text, .social-text{
      color: #fff;
      font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
    }
    .login-text{
      font-size: 4vh;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      /*margin-bottom: 15px;
      padding: 3% 10%;*/
      padding: 1% 15%;
      @include center-block;
    }
    .answer-text:active, .success-text:active, .error-text:active, .social-text:active{
      color: #fff;
    }
    .social-buttons, .btn-group{
      width: 100%;
    }
    .social-text{
      position: relative;
      margin-top: -12%;
      margin-left: 23%;
      font-size: 2.3vh;
    }
  }
  
  .answer-text:active, .success-text:active, .error-text:active{
    color: #fff;
  }

  .woods-row{
    margin-top: 5vh
  }

  .blur{
    -webkit-filter: blur(6px);
    filter: url('blur.svg#blur');
    background-color: #fff;
    width: 93%;
    height: 100%;
    z-index: -3;
    position: relative;
    margin-top: -20%;
  }

  .wood-agree,.wood-disagree,.wood-1{
    /*width: 100%;
    height: 100%;
    background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*min-width: 100%;
    min-height: 100%;*/
    /*background-size: 100%;*/
    zoom:0.75;
    -moz-transform:scale(0.75);
    -moz-transform-origin: 0 0;
  }
  .wood-1{
    zoom:0.7;
    -moz-transform:scale(0.7);
    -moz-transform-origin: 0 0;
  }

  .wood-confirm-container{
    
    .wood-agree-container{
        overflow: hidden;
        width: 89%;
        margin-left: auto;
        margin-right: auto;
        
        .wood-agree{
            min-height:11vh;
            padding-top: 1.5vh;
        }
    }

    .wood-disagree-container{
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        width: 89%;
        .wood-disagree{
            min-height:13vh;
            padding-top: 1.5vh;
        }
    }
    .answer-text{
      position: relative;
      /* margin-top: -16%; */
      padding-top: 4%;
      font-weight:bold;
      font-size: 4vh;
      text-align: center;
    }
    .success-text{
      color: #8dc63f;
    }
    .error-text{
      color: #e06e4d;
    }
  }

  .wood-container{
    @include center-block;
    width: 97%;
    display: inline;
    .wood-1-container, .wood-2-container{
      @include center-block;
      width: 85%;
      height: 11vh;

      .wood-1{
        /*background-image: url('../images/wood-1.png');*/
        min-height:10vh;
        padding-top: 1.5vh;
      }
    }
    .answer-text{
      position: relative;
      padding-top: 2vh;
      font-size: 4.5vh;
      text-align: center;
      color: #FCB78B;
    }
  }

  .rope-container-left, .rope-container-right{
    position: absolute;
    height: 91%;
    width: 9px;
    top: 0;
    background-image: url('../images/rope.png');
  }

  .rope-container-left{
    margin-left: 9%;
  }

  .rope-container-right{
    margin-left: 80%; 
  }

}

.rope-left, .rope-right{
  /*background-image: url('../images/rope.png');*/
  margin-top: -1px;
}

.rabbit-container, .hen-container{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.rabbit-container{
  z-index: 51;
  .rabbit_big-container, .text, .dammit{
    @include center-block;
    .rabbit_big{
      margin-left: auto;
      margin-right: auto;
      width: 20vw;
      min-width: 171px;
      min-height: 376px;
 
    }
  }
  .field_login-container{
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: -1;
    .field_login{
      /*background-image: url('../images/field_login.png');*/
      min-width: 454px;
      min-height: 332px;
      width: 100%;
      /*background-size: 100%;*/
      background-repeat: no-repeat;
    }
  }
  .text{
    z-index: 53;
    width: 60%;
    .login-text, .dammit{
      color: #fff;
      font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
      font-size: 4vh;
      line-height: 1;
      text-align: center;
      margin-bottom: 15px;
    }
  }
  .dammit{
    font-size: 5vh;
    font-weight: bold;
  }
}

.hen-container{
  @include center-block;
  z-index: 52;
  .hen_big,.hands{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /*background-position: center;*/
    /*background-size: 80%;*/
  }
  .hen_big-container, .hands-container, .thanks-for-voting{
    position: absolute;
    bottom: 0;
    width: 100%;
 
    .hen_big{
      /*background-image: url('../images/hen_big.png');*/
      min-width: 354px;
      min-height: 705px;
      margin-right: auto;
      margin-left : auto;
      zoom:0.7;
      -moz-transform:scale(0.7);
      -moz-transform-origin: 0 0;
      /*background-position-y: 100%;*/
    }
    .hands{
      /*background-image: url('../images/hands.png');*/
      min-width: 383px;
      min-height: 174px;
      zoom:0.85;
      -moz-transform:scale(0.85);
      -moz-transform-origin: 0 0;
    }
  }
  /* .hen_big-container{
    bottom: 0;
    top: 0;
  } */

  /* .hen_big-container{
    left: 35%;
  }*/

  .hands-container{

    margin-bottom: 30px;
    min-width: 275px;
    .thanks-for-voting{
      font-size: 6vh;
      line-height: 1;
      text-align: center;
      color: #fff;
      z-index: 53;
      margin-bottom: 19%;
      width: 88%;


    }
  } 

}


.text-container{
  .board{
    width:100%;
    min-width:440px;
    min-height:586px;
    zoom:0.7;
  }

    .text{
    @include center-block;
    color: #fff;
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", "Calibri", sans-serif;
    font-size: 3vh;
    line-height: 1;
    text-align: center;
    width: 72%;
    position: relative;
    margin-top: -60%;
  }
}

.photo-container{
  @include center-block;
 /* margin-top: 60px; */
  width: 100%;
  .frame{
    width: 83%;
    min-width: 453px;
    min-height: 557px;
    zoom:0.7;
  }
  .img-frame{
    @include center-block;
    width: 82%;
    position: relative;
    margin-top: -74%;
    z-index: -1;
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }

}

.footer {
  background-position-x: -430px;
  height: 167px;
  
  .barn,.cow,.cow_big,.sheep,.sheep_big,.rabbit,.hen,.ostrich{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    /*background-position: center;*/
  }

  .field,.field_big,.field_login{
    width: 100%;
    height: 100%;
    /*background-size: 100%;*/
    background-repeat: no-repeat;
  }

  .field-container, .field_big-container, .field_login-container{
    width: 100%;
    bottom:0; 
    left:0;
    position: absolute;
    z-index: -3;
    .field{
      /*background-image: url('../images/field.png');*/
      min-width: 311px;
      min-height: 167px;
    }
    .field_big{
      /*background-image: url('../images/field_big.png');*/
      min-width: 986px;
      min-height: 167px;
    }
    .field_login{
      /*background-image: url('../images/field_login.png');*/
      min-width: 454px;
      min-height: 332px;
    }
  }

  .barn-container{
    overflow: hidden;
    width: 150px;
    margin-right: 0;
    right:0;
    z-index: -2;
    bottom:0; 
    position: absolute;
    .barn{
      /*background-image: url('../images/barn.png');*/
      min-width: 226px;
      min-height: 184px;
    }
  }
  
  .cow-container{
    padding: 0 0 15px 15px;
    bottom:0; 
    position: absolute;
    left: 0;
    z-index: -1;
    .cow{
      /*background-image: url('../images/cow.png');*/
      min-width: 70px;
      min-height: 92px;
    }
  }

  .sheep-container, .rabbit-container{
    right: 0;
    margin-right: 16px;
    bottom:0; 
    position: absolute;
    z-index: -1;
    .sheep{
      /*background-image: url('../images/sheep.png');*/
      min-width: 91px;
      min-height: 99px;
    }
    .rabbit{
      /*background-image: url('../images/rabbit.png');*/
      min-width: 102px;
      min-height: 148px;
    }
  }

  .cow_big-container{
    right: 0;
    z-index: -1;
    bottom:0; 
    position: absolute;
    .cow_big{
      /*background-image: url('../images/cow_big.png');*/
      min-width: 181px;
      min-height: 241px;
    }
  }

  .sheep_big-container, .hen-container{
    left:0;
    z-index: -1;
    bottom:0; 
    position: absolute;
    .sheep_big{
      /*background-image: url('../images/sheep_big.png');*/
      min-width: 235px;
      min-height: 207px;
    }
    .hen{
      /*background-image: url('../images/hen.png');*/
      min-width: 102px;
      min-height: 167px;
    }
  }

  .ostrich-container{
    right: 0;
    margin: 0 120px 20px;
    z-index: -1;
    bottom:0; 
    position: absolute;
    .ostrich{
      /*background-image: url('../images/ostrich.png');*/
      min-width: 37px;
      min-height: 94px;
    }
  }
}





/*

@media screen and (min-width: 750px) {

  .fluid-container .logo-absolute {
    margin: 3% 0 0 24%;
    width: 50%;
  }

  .photo-container{
   
  }

  .footer {
    background-position-x: 0px;
  }

  .barn-container{
    width: 200px!important;
    margin-right: 108px!important;
  }

  .ostrich{
    margin: 0 210px 20px!important;
  }

  .field, .cow, .sheep{
    display: none;
  }

  .field_big, .cow_big, .sheep_big{
    display: block;
  }

}


//Google Nexus 7 / 7.2
@media screen and (min-width: 900px) {

  .hen-container{
    z-index: 51;
    .hen_big{
      width: 29%;
      left: 35%;
    }
    .hands{
      width: 36%;
      margin-bottom: 2%;
      left: 32%;
    }
    .thanks-for-voting{
      left: 43%;
      margin-bottom: 8%;
      width: 15%;
    }
  }

}

//Amazon Kindle Fire (First Gen)
//Apple iPad 1 / 2 / iPad Mini / 3 / 4
//BlackBerry PlayBook
//Samsung Galaxy Tab
@media screen and (min-width: 1023px) { 

  .hen-container{
    z-index: 51;
    .hen_big{
      width: 29%;
      left: 35%;
    }
    .hands{
      width: 36%;
      margin-bottom: 2%;
      left: 32%;
    }
    .thanks-for-voting{
      left: 43%;
      margin-bottom: 6%;
      width: 15%;
    }
  }
}

//Google Nexus 10
//Motorola Xoom, Xyboard
//Samsung Galaxy Tab 7.7 / 8.9 / 10.1
//Generic netbook
//Notebook with touch
@media screen and (min-width: 1223px) {
  .hen-container{
    .hen_big{
      width: 32%;
      left: 35%;
    }
    .hands{
      width: 36%;
      margin-bottom: 2%;
      left: 32%;
    }
    .thanks-for-voting{
      left: 43%;
      margin-bottom: 6%;
      width: 15%;
    }
  }
}

//Notebook with HiDPI screen
@media screen and (min-width: 1440px) {

}

//Amazon Kindle Fire HDX 7"
//Amazon Kindle Fire HDX 8.9"
@media screen and (min-width: 1500px) {

  .hen-container{
    .hen_big{
      width: 25%;
      left: 39%;
    }
    .hands{
      width: 30%;
      margin-bottom: 1%;
      left: 35%;  
    }
    .thanks-for-voting{
      left: 43%;
      margin-bottom: 6%;
      width: 15%;
    }
  }
}

@media screen and (min-width: 2000px){
 
}

@media screen and (max-width: 750px) {

  .footer {
    background-position-x: 0px;
  }
}

//Motorola Droid Rarz HD
@media screen and (max-width: 720px) {

  .footer {
    background-position-x: 0px;
  }

  .field_big, .cow_big, .sheep_big{
    display: none;
  }

  .hen-container{
    .hen_big{
      width: 72%;
      left: 14%;
    }
    .hands{
      width: 72%;
      margin-bottom: 7%;
      left: 12%;
    }
    .thanks-for-voting{

      margin-bottom: 18%;
      width: 37%;
      font-size: 4vh;
      line-height: 1;
    }
  }
}

//Motorola Droid 3 / 4 / Rarz / Atrix 4G / Atrix 2
//Samsung Galaxy Note 3
//Sony Xperia Sola / U
@media screen and (max-width: 550px) {

  .footer {
    background-position-x: 0px;
  }

  .field_big, .cow_big, .sheep_big{
    display: none;
  }

  .hen-container{
    .hen_big{
      left: 13%
    }
    .hands{
      width: 400px;
      margin-bottom: 6%;
      left: 11%
    }
    .login-text{

      margin-bottom: 18%;
      font-size: 38px;
      line-height: 38px;
      width: 200px;
    }
  }
}

//BlackBerry Z10
//Google Nexus 4
//LG Optimus G / LTE / 4X HD
//Samsung Galaxy Note


//BlackBerry Z30
//Google Nexus 5
//HTC One X / EVO LTE / Sensation / EVO 3D
//Nokia C5 / C6 / C7 / N97 / N8 / X7
//Samsung Galaxy Note 2 / S2 / Nexus / S4
//Sony Xperia S / Ion / Z / Z1
@media screen and (max-width: 380px) {


}

//Apple iPhone 3GS / 4 / 5
//Google Nexus S
//HTC Evo / Touch / Desire
//LG Optimus 2X / 3D / Black / One
//Motorola Defy / Droid / Droid X / Milestone
//Nokia Lumia 7X0 / Lumia 8XX / Lumia 900 / N800 / N900
//Samsung Galaxy S / S2 / W


*/
//Low res media queries
@media screen and  (min-width: 240px) {

  .logo-absolute{
    margin: 21% 0 0 29%;
    width: 36%;
  }

  .header{
    height: 60px;
  }


  .content{
    margin-top: 0px !important;
    .logo-container{
        margin-top: 3vh;
        
        .logo {
          zoom: 0.6;
          display: block;
          max-width: 19vw;
        }

      .login-text{
          margin-bottom: 4vh;
      }

    }
  }

  .wood-confirm-container{
    display: block;
    padding: 0;
    width: 100%;
    height: 100%;
    margin: 0;

    .wood-agree-container,.wood-disagree-container{
      width:100% !important;
      min-height: 15vh !important;
      
      .wood-disagree,.wood-agree{
        width:100%;
        height:100%;
        display:block;
        min-height: 14.5vh!important;
        

        .answer-text{
           font-size: 6vh!important;
        
        }

      }

    }
  }


  .hen-container{
    
    .hen_big{
      width: 72%;
      left: 14%;
    }

    .hands{
      width: 36%;
      margin-bottom: 7%;
      left: 12%;
    }

    .thanks-for-voting{
        margin-bottom: 15vh !important;
        width: 100% !important;
        font-size: 4vh;
        line-height: 1;
        margin-right: auto;
        margin-left: auto;
        padding: 0 25vw 0 25vw;
        height: 16vh;
        display: block;

    }
    
  }

  .rabbit-container{
    padding-top: 25vh;
  }

  .rabbit_big{
    zoom:0.5;
    bottom:0;
  }

  .logo-absolute{
    margin: 21% 0 0 25%;
    width: 46%;
  }

  .footer {
    background-position-x: 0px;
  }

  .field_big, .cow_big, .sheep_big{
    display: none;
  }

}




@mixin center-block {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
}

/*Animations*/


.wood-1 {
  -webkit-transition: color 0.6s, background-color 0.3s;
  -moz-transition: color 0.6s, background-color 0.3s;
  -ms-transition: color 0.6s, background-color 0.3s;
  transition: color 0.6s, background-color 0.3s;
  
  label {
    display: block;
  }
  
  &.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -ms-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
  }
  
  &.ng-leave {
    -webkit-animation: bounceOut 1s;
    -moz-animation: bounceOut 1s;
    -ms-animation: bounceOut 1s;
    animation: bounceOut 1s;
  }
}

.obj.ng-enter, .obj.ng-leave {
  -webkit-transition: 1.5s ease all;
  transition: 1.5s ease all;
}
// the "show" transition starting point
.obj.ng-enter {
  /*left: -300px;*/
  opacity: 0;
}
// the "show" transition ending point
.obj.ng-enter.ng-enter-active {
  /*left: 0px;*/
  opacity:1;
}
// the "hide" transition start point
.obj.ng-leave {
  /*left: 0px;*/
  opacity: 1;
}
// the "hide" transition end point
.obj.ng-leave-active {
  /*left: 600px;*/
  opacity: 1;
}