<div class="hen-container" ng-show="success">
	<!-- <img class="hen_big animated fadeInUp" img-preload src="images/hen_big.png"> -->
	<div class="hen_big-container">
		<div class="images-hen_big hen_big animated fadeInUp " ng-style="{'zoom':henZoom}"></div>
	</div>
	<!-- <img class="hands animated fadeInUpBig" img-preload src="images/hands.png"> -->
	<div class="hands-container animated fadeInUpBig">
		<div class="images-hands hands" ng-style="{'zoom':henZoom}">
			<p class="login-text thanks-for-voting">{{successText}}</p>
		</div>
	</div>
</div>