<div class="overlay" ng-show="overlay"></div>
<div  ng-include src='"partials/rabbit.html"'></div>

<div class="content col-xs-12 col-sm-12 col-md-12 col-lg-12 animated fadeIn" >
	<div class="logo-absolute-container">
		<div class="images-logo  logo animated fadeIn"></div>
	</div>

	<div class="row-fluid animated zoomIn">
	  <div class="photo-container animated da3 fadeInDownBig" >
	    <div class="images-frame frame" src="images/frame.png" ></div>
	    <img class="img-frame" ng-src="{{imgSrc}}">
	  </div>
	</div>
</div>

<div class="footer animated fadeIn">
    <div ng-repeat="img in footerImages" class="{{img}}-container">
		<div class="images-{{img}} {{img}} animated fadeIn"></div>
	</div>
    <div ng-if="showBarn" class="barn-container">
    	<div class="images-barn barn animated fadeIn"></div>
    </div>
</div>
