<div class="overlay" ng-show="overlay"></div>
<div ng-include src='"partials/rabbit.html"'></div>

<div class="col-xs-0 col-sm-4 col-md-4 col-lg-4"></div>
<div class="content col-xs-12 col-sm-4 col-md-4 col-lg-4 animated fadeIn" >
	<div class="rope-container-left animated da3 fadeInDownBig"></div>
	<div class="rope-container-right animated da3 fadeInDownBig"></div>
	<div class="logo-container">
		<div class="logo animated fadeIn"></div>
	</div>
	<div class="row-fluid animated da3 fadeInDownBig">
		 <ul class="wood-confirm-container">
		 	<p class="login-text anim-zoom-in anim-slide-left">{{title}}</p>
		 	<li class="btn-group" ng-click="approve(1)">
		 		<div class="wood-agree-container">
		 			<div class="wood-agree">
		 				<p class="answer-text success-text">{{yes}}</p>
		 			</div>
		 		</div>
		 	</li>
		 	<li class="btn-group" ng-click="approve(0)">
		 		<div class="wood-disagree-container">
		 			<div class="wood-disagree">
		 				<p class="answer-text error-text">{{no}}</p>
		 			</div>
		 		</div>
		 	</li>
		 </ul>
	</div>
</div>
<div class="col-xs-0 col-sm-4 col-md-4 col-lg-4"></div>

<div class="footer animated fadeIn">
    <div ng-repeat="img in footerImages" class="{{img}}-container">
		<div class="{{img}} animated fadeIn"></div>
	</div>
    <div ng-if="showBarn" class="barn-container">
    	<div class="barn animated fadeIn"></div>
    </div>
</div>
