<div class="overlay" ng-show="overlay"></div>

<div ng-include src='"partials/rabbit.html"'></div>

<div class="col-xs-0 col-sm-4 col-md-4 col-lg-4"></div>
<div class="content col-xs-12 col-sm-4 col-md-12 col-lg-12 animated fadeIn" >
	<div class="rope-container-left animated fadeInDownBig"></div>
	<div class="rope-container-right animated fadeInDownBig"></div>
	<img class="logo" src="images/logo.png" />
	<div class="row-fluid  animated fadeInDownBig">

		 <ul class="wood-confirm-container">
		 	<p class="login-text anim-zoom-in anim-slide-left">{{title}}</p>
		 	<li class="btn-group" ng-click="approve(1)">
		 		<div class="wood-agree-container">
		 			<div class="wood-agree">
		 				<p class="answer-text success-text">{{yes}}</p>
		 			</div>
		 		</div>
		 	</li>
		 	<li class="btn-group" ng-click="approve(0)">
		 		<div class="wood-disagree-container">
		 			<div class="wood-disagree">
		 				<p class="answer-text error-text">{{no}}</p>
		 			</div>
		 		</div>
		 	</li>
		 </ul>
	</div>
</div>
<div class="col-xs-0 col-sm-4 col-md-4 col-lg-4"></div>

<!-- <div ng-switch="isLoading">
    <div class="footer animated fadeIn" ng-switch-when="false" ng-switch="isSuccessful">
        <div ng-switch-when="true">
            <img ng-repeat="img in footerImages" ng-src="images/{{img}}.png" class="{{img}}" imageonload="count();"/>
            <div ng-if="showBarn" class="barn-container">
            	<img img-preload class="barn" src="images/barn.png" />
            </div>
        </div>
    </div>
</div> -->

<div class="footer animated fadeIn">
    <div ng-repeat="img in footerImages" class="{{img}}-container">
		<div class="{{img}} animated fadeIn"></div>
	</div>
    <div ng-if="showBarn" class="barn-container">
    	<div class="barn animated fadeIn"></div>
    </div>
</div>
