<div class="overlay" ng-show="overlay"></div>
<div  ng-include src='"partials/rabbit.html"'></div>

<div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
<div class="content col-xs-10 col-sm-4 col-md-4 col-lg-4" >
	<img class="logo" src="images/logo.png" />
	<div class="row-fluid animated zoomIn">
		<ul  class="social-container">
			<p class="login-text" >{{title}}</p>
			<li>
				<div class="btn-group fb-button" ng-show="social.fb" ng-click="login('fb')">
					<img class="expand social-buttons" src="images/fb-sign.png" />
					<p type="button" class="social-text">{{facebook.title}}</p>
				</div>
			</li>
			<li>
				<div class="btn-group tw-button" ng-show="social.tw" ng-click="login('tw')">
					<img class="expand social-buttons" src="images/twitter-sign.png" />
					<p type="button" class="social-text">{{twitter.title}}</p>
				</div>
			</li>
			<li >
				<div class="btn-group g-button" ng-show="social.g" ng-click="login('g')">
					<img class="expand social-buttons" src="images/google-sign.png" />
					<p type="button" class="social-text">{{google.title}}</p>
				</div>
			</li>
			<a class="tos-link" href="{{tor.url}}">{{tos.text}}</a>
		</ul>
	</div>
</div>
<div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
<div class="footer move">
	<img img-preload ng-repeat="img in footerImages" class="{{img}}" ng-src="images/{{img}}.png" />
	<div ng-if="showBarn" class="barn-container"><img img-preload class="barn" src="images/barn.png" /></div>
</div>
