<div class="content">
<div class="row-fluid">
	<ul class="social-container">
		<p class="login-text">{{title}}</p>
		<li>
			<a data-ng-show="!logged" data-ng-disabled="!facebookReady" data-ng-click="IntentLogin()"><img class="social-buttons" src="images/fb-sign.png" /></a>
		</li>
		<li>
			<a><img class="social-buttons" src="images/twitter-sign.png" /></a>
		</li>
		<li>
			<a><img class="social-buttons" src="images/google-sign.png" /></a>
		</li>
	</ul>
</div>
<div class="row-fluid"></div>
<div class="footer">
	<img img-preload ng-repeat="img in footerImages" class="{{img}}" ng-src="images/{{img}}.png" />
	<div ng-if="showBarn" class="barn-container"><img img-preload class="barn" src="images/barn.png" /></div>
</div>

