<div class="content">
	<!-- <div class="rope-container-left">
		<div class="rope"></div>
	</div> -->
	 <!-- <ul class="wood-container">
	 	<li class="wood-1"></li>
	 	<li class="wood-2"></li>
	 	<li class="wood-1"></li>
	 </ul> -->
	 <!-- <div class="rope-container-right">
	 	<div class="rope"></div>
	 </div> -->
</div>

<div class="footer">
	<img img-preload ng-repeat="img in footerImages" class="{{img}}" ng-src="images/{{img}}.png" />
	<div ng-if="showBarn" class="barn-container"><img img-preload class="barn" src="images/barn.png" /></div>
</div>
