<div class="overlay" ng-show="overlay"></div>
<div ng-include src='"partials/rabbit.html"'></div>

<div class="col-xs-0 col-sm-4 col-md-4 col-lg-4"></div>
<div class="content col-xs-12 col-sm-4 col-md-4 col-lg-4 animated fadeIn" >
	<div class="rope-container-left animated fadeInDownBig"></div>
	<div class="rope-container-right animated fadeInDownBig"></div>
	<img class="logo" src="images/logo.png" />
	<div class="row-fluid  animated fadeInDownBig">
		 <ul class="wood-confirm-container">
		 	<p class="login-text anim-zoom-in  anim-slide-left">{{title}}</p>
		 	<li class="btn-group" ng-click="approve(1)">
		 		<img class="expand social-buttons" src="images/wood-agree.png" />
		 		<p class="answer-text success-text">{{yes}}</p>
		 	</li>
		 	<li class="btn-group" ng-click="approve(0)">
		 		<img class="expand social-buttons" src="images/wood-disagree.png" />
		 		<p class="answer-text error-text">{{no}}</p>
		 	</li>
		 </ul>
	</div>
</div>
<div class="col-xs-0 col-sm-4 col-md-4 col-lg-4"></div>

<div class="footer animated fadeIn">
    <div ng-repeat="img in footerImages" class="{{img}}-container">
		<div class="{{img}} animated fadeIn"></div>
	</div>
    <div ng-if="showBarn" class="barn-container">
    	<div class="barn animated fadeIn"></div>
    </div>
</div>