<div  ng-include src='"partials/rabbit.html"'></div>

<div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
<div class="content col-xs-10 col-sm-4 col-md-4 col-lg-4 animated fadeIn" >
	<img class="logo-absolute" src="images/logo.png" />
	<div class="row-fluid animated zoomIn">
		<div class="photo-container animated fadeInDownBig">
			<img class="frame" src="images/board.png" />
			<p class="login-text board-text">{{txt}}</p>
		</div>
	</div>
</div>
<div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>

<!-- <div ng-switch="isLoading">
    <div class="footer animated fadeIn" ng-switch-when="false" ng-switch="isSuccessful">
        <div ng-switch-when="true">
            <img ng-repeat="img in footerImages" ng-src="images/{{img}}.png" class="{{img}}" imageOnLoad="count();"/>
            <div ng-if="showBarn" class="barn-container">
            	<img img-preload class="barn" src="images/barn.png" />
            </div>
        </div>
    </div>
</div> -->
<div class="footer animated fadeIn">
    <img ng-repeat="img in footerImages" ng-src="images/{{img}}.png" class="{{img}}"/>
    <div ng-if="showBarn" class="barn-container">
    	<img img-preload class="barn" src="images/barn.png" />
    </div>
</div>