<div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
<div class="content col-xs-10 col-sm-4 col-md-4 col-lg-4 animated fadeIn" >
	<div class="logo-container-text">
		<div class="images-logo logo-text animated fadeIn"></div>
		<p class="login-text animated zoomIn ">{{title}}</p>
	</div>

	<div class="row-fluid animated zoomIn">
		<div class="text-container animated da3 fadeInDownBig">
			<div class="images-board board"  >
				<p class="text">{{txt}}</p>
			</div>
			
			<!-- <div class="board-container">
				<div class="board">
					<p class="login-text board-text">{{txt}}</p>
				</div>
			</div> -->
		</div>
	</div> 
</div>
<div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>

<div class="footer animated fadeIn">
    <div ng-repeat="img in footerImages" class="{{img}}-container">
		<div class="images-{{img}} {{img}} animated fadeIn"></div>
	</div>
    <div ng-if="showBarn" class="barn-container">
    	<div class="images-barn barn animated fadeIn"></div>
    </div>
</div>

