<div class="overlay" ng-show="overlay"></div>
<div  ng-include src='"partials/rabbit.html"'></div>
<div  ng-include src='"partials/hen.html"'></div>

<div class="rope-left col-xs-0 col-sm-4 col-md-4 col-lg-4"></div>
<div class="content col-xs-12 col-sm-4 col-md-4 col-lg-4 animated fadeIn" >
	<div class="rope-container-left animated da3 fadeInDownBig"></div>
	<div class="rope-container-right animated da3 fadeInDownBig"></div>
	<div class="logo-container">
		<div class="logo animated fadeIn"></div>
	</div>
	<div class="row-fluid animated da3 fadeInDownBig">
		<ul class="wood-container animated da3 fadeInDownBig">
		 	<p class="login-text">{{title}}</p>
		 	<li ng-repeat='opt in options' ng-click='answer(opt.id)'>
		 		<!-- <img class="wood-1" src="images/wood-1.png" /> -->
		 		<div class="wood-1-container">
		 			<div class="wood-1">
		 				<p class="answer-text">{{opt.text}}</p>
		 			</div>
		 		</div>
		 	</li>
		 </ul>
	</div>
</div>
<div class="rope-left col-xs-0 col-sm-4 col-md-4 col-lg-4"></div>

<div class="footer animated fadeIn">
    <div ng-repeat="img in footerImages" class="{{img}}-container">
		<div class="{{img}} animated fadeIn"></div>
	</div>
    <div ng-if="showBarn" class="barn-container">
    	<div class="barn animated fadeIn"></div>
    </div>
</div>

