<div  ng-include src='"partials/rabbit.html"'></div>
<div  ng-include src='"partials/hen.html"'></div> 

<div class="rope-left col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
<div class="content col-xs-10 col-sm-4 col-md-4 col-lg-4" >
	<img class="logo" src="images/logo.png" />
	<div class="row-fluid animated zoomIn">
		<!-- <div class="rope-container-left animated fadeInDownBig">
			<div class="rope"></div>
		</div> -->

		<ul class="wood-container animated fadeInDownBig">
		 	<p class="login-text">{{title}}</p>
		 	<li ng-repeat='opt in options' ng-click='answer(opt.id)'>
		 		<img class="wood-1" src="images/wood-1.png" />
		 		<p class="answer-text">{{opt.text}}</p>
		 	</li>
		 </ul>


		 
		 <!-- <div class="rope-container-right animated fadeInDownBig">
		 	<div class="rope"></div>
		 </div> -->
	</div>
</div>
<div class="rope-left col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>

<div class="footer">
	<img img-preload ng-repeat="img in footerImages" class="{{img}}" ng-src="images/{{img}}.png" />
	<div ng-if="showBarn" class="barn-container"><img img-preload class="barn" src="images/barn.png" /></div>
</div>

  
