<div class="overlay" ng-show="overlay"></div>
<div  ng-include src='"partials/rabbit.html"'></div>
<div  ng-include src='"partials/hen.html"'></div>

<div class="col-xs-0 col-sm-4 col-md-4 col-lg-4"></div>
<div class="content col-xs-12 col-sm-4 col-md-4 col-lg-4 animated fadeIn" >
	<div class="rope-container-left animated fadeInDownBig"></div>
	<div class="rope-container-right animated fadeInDownBig"></div>
	<div class="logo-container">
		<div class="images-logo logo animated fadeIn" ng-style="{'zoom':logoZoom}"></div>
		<p class="login-text animated zoomIn ">{{title}}</p>
	</div>
	<div class="woods-row row-fluid animated da3 fadeInDownBig">
		<ul class="wood-container animated  fadeInDownBig">
		 	
		 	<li ng-repeat='opt in options' ng-click='answer(opt.id)'>
		 		<!-- <img class="wood-1" src="images/wood-1.png" /> -->
		 		<div class="wood-1-container">
		 			<div ng-class="{blur: $index == selected}" ng-style="{'zoom':woodZoom}"></div>
		 			<div class="images-wood-1 wood-1" ng-style="{'zoom':woodZoom}">
		 				<p class="answer-text">{{opt.text}}</p>
		 			</div>
		 		</div>
		 	</li>
		 </ul>
	</div>
</div>
<div class="col-xs-0 col-sm-4 col-md-4 col-lg-4"></div>

<div class="footer animated fadeIn" ng-style="{zoom:footerZoom}">
    <div ng-repeat="img in footerImages" class="{{img}}-container" >
		<div class="images-{{img}} {{img}} animated fadeIn"></div>
	</div>
    <div ng-if="showBarn" class="barn-container">
    	<div class="images-barn barn animated fadeIn"></div>
    </div>
</div>

